# Environment variables
.env

# Google API Credentials
config/credentials.json
config/token.json

# Local SQLite databases
*.db

# Worksheets
/worksheets/

# OS-specific
.DS_Store

# Executables
/app
*.exe
